<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/Unit/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Mysql">
            <directory suffix="Test.php">./tests/Unit/Mysql</directory>
        </testsuite>
        <testsuite name="Pgsql">
            <directory suffix="Test.php">./tests/Unit/Pgsql</directory>
        </testsuite>
        <testsuite name="Sqlite">
            <directory suffix="Test.php">./tests/Unit/Sqlite</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/reports"/>
    </logging>
</phpunit>